{% extends 'admin/base.html.twig' %}

{% block title %}Question list{% endblock %}

{% block body %}
<div class="container">
    <h1>Question list</h1>

    <ul>
        {% for question in questions %}
            <li>{{ question.name }}</li>
        {% endfor %}
    </ul>

    <p><a href="{{ path('question_create') }}">Create question</a></p>
</div>
{% endblock %}
