{% extends 'admin/base.html.twig' %}

{% block title %}Category list{% endblock %}

{% block body %}
<div class="container">
    <h1>Category list</h1>

    <ul>
        {% for category in categories %}
            <li>{{ category.name }} - {{ category.description }}</li>
        {% endfor %}
    </ul>

    <p><a href="{{ path('category_create') }}">Create category</a></p>
</div>
{% endblock %}
